*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #18171f;
}
#time{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle svg{
    position: relative;
    transform: rotate(270deg);
}
#time .circle:nth-child(1) svg{
    width: 250px;
    height: 250px;
}
#time .circle:nth-child(2) svg{
    width: 210px;
    height: 210px;
}
#time .circle:nth-child(3) svg{
    width: 170px;
    height: 170px;
}
#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: var(--clr);
    stroke-width: 5;
    transform: translate(5px,5px);
    opacity: 0.25;
}
#time .circle:nth-child(1) svg circle{
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
}
#time .circle:nth-child(2) svg circle{
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
}
#time .circle:nth-child(3) svg circle{
    stroke-dasharray: 510;
    stroke-dashoffset: 510;
}
.dots{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.dots::before{
    content: '';
    position: absolute;
    top: -3px;
    height: 15px;
    width: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
    0 0 40px var(--clr),
    0 0 60px var(--clr),
    0 0 80px var(--clr);
}
.timebox{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 15px;
    font-size: 1.5em;
    font-weight: bold;
}
.timebox #hours::after,
.timebox #minutes::after{
    content: ':';
    position: absolute;
}
.timebox div{
    color: var(--c);
    text-shadow: 0 0 10px var(--c),
    0 0 20px var(--c);
}
.ap{
    position: absolute;
    transform: translateY(-15px);
    font-size: 0.5em;
    right: 56px;
}

.timeapi{
    position: absolute;
    inset: 10;
    padding-left: 2.5rem;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    color: azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 15px;
    font-size: 3.5em;
    font-weight: bold;
}
.timeapi2{
    position: absolute;
    inset: 10;
    padding-right: 2.5rem;
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    color: azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 15px;
    font-size:3.5em;
    font-weight: bold;
}
/*
#time1{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time1 .circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time1 .circle svg{
    position: relative;
    transform: rotate(270deg);
}
#time1 .circle:nth-child(1) svg{
    width: 250px;
    height: 250px;
}
#time1 .circle:nth-child(2) svg{
    width: 210px;
    height: 210px;
}
#time1 .circle:nth-child(3) svg{
    width: 170px;
    height: 170px;
}
#time1 .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: var(--clr);
    stroke-width: 5;
    transform: translate(5px,5px);
    opacity: 0.25;
}
#time1 .circle:nth-child(1) svg circle{
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
}
#time1 .circle:nth-child(2) svg circle{
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
}
#time1 .circle:nth-child(3) svg circle{
    stroke-dasharray: 510;
    stroke-dashoffset: 510;
}*/